
<div class="headerBlock row">
      <button class="btn btn-danger pull-left" ui-sref="home" ng-class="{'active': activePage === 'home'}">back</button>
      <h1 class="techHeader">Add Friendly</h1>
</div>
<!--<div class="row header-info" style="text-align: center;"> Your Character </div>
<div class="select_list" ng-class='{active:active}' ng-click="active=!active">
    <span ng-style="{'background-image':'url('+obj.character_selected.url+')'}">{{obj.character_selected.name}}</span>
    <ul class="options" style="text-align:center;">
        <li class="select_list_option" ng-repeat="character in character_list" ng-click="obj.character_selected=character" ng-style="{'background-image':'url('+character.url+')'}">{{character.name}}</li>
    </ul>
</div>-->

<div class="col-sm-10 col-sm-offset-1 text-center">
  <p ng-if="notFilled" class="errorText" data-wow-delay="0.5s">{{warning}}</p>
<div class="row">

<div class="container" style="padding-top:0%;padding-bottom:8%">
<div class="form-group">
  <label class="col-sm-3 control-label">Your Character</label>
  <div class="col-sm-6">

    <ui-select ng-model="results.user_char_selected" theme="bootstrap" ng-change="highlightConfirm()">
      <ui-select-match placeholder="What character did you use?">{{$select.selected.name}}&nbsp;<img class="charIcon" width="21" height="21" src="{{$select.selected.url}}"></img></ui-select-match>
      <ui-select-choices group-by="'tier'" repeat="item in character_list | filter: $select.search">
        <span ng-bind-html="item.name | highlight: $select.search"></span>
        <img src="{{item.url}}" class="charIcon" width="21" height="21" ng-bind-html="item.url | highlight: $select.search"></img>
      </ui-select-choices>
    </ui-select>

  </div>
</div>


<div class="form-group">
  <label class="col-sm-3 control-label">Opponent's Character</label>
  <div class="col-sm-6">

    <ui-select ng-model="results.opp_char_selected" theme="bootstrap" ng-change="highlightConfirm()">
      <ui-select-match placeholder="What character did your opponent use?">{{$select.selected.name}}&nbsp;<img class="charIcon" width="21" height="21" src="{{$select.selected.url}}"></img></ui-select-match>
      <ui-select-choices group-by="'tier'" repeat="item in character_list | filter: $select.search">
        <span ng-bind-html="item.name | highlight: $select.search"></span>
        <img src="{{item.url}}" class="charIcon" width="21" height="21" ng-bind-html="item.url | highlight: $select.search"></img>
      </ui-select-choices>
    </ui-select>

  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label">Map</label>
  <div class="col-sm-6">

    <ui-select ng-model="results.stage" theme="bootstrap" ng-change="highlightConfirm();trackStageChange()">
      <ui-select-match placeholder="What stage did you play on?">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="item in stage_list | filter: $select.search">
        <span  ng-bind-html="item.name | highlight: $select.search"></span>

      </ui-select-choices>
    </ui-select>

  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label">Opponent Name</label>
  <div class="col-sm-6">

    <input type="text" ng-model="results.opp_name" class="form-control" ng-change="highlightConfirm()">

  </div>
</div>
</div>


<div id="snackbar">{{matchResult}}</div>

<div class="row" style="text-align: center; padding-bottom:10%">

    <div class="btn-group">
        <label class="btn btn-info" ng-model="results.result" uib-btn-radio="'win'" uncheckable ng-change="highlightConfirm()">Win</label>
        <label class="btn btn-danger" ng-model="results.result" uib-btn-radio="'loss'" uncheckable ng-change="highlightConfirm()">Lose</label>
    </div>

</div>

<div class="row" style="text-align: center;">
  <a ng-click='reportWin()' class="btn {{buttonStyle}}" style="width: 200px; height 50px; margin-bottom: 25%;">Confirm</a>
</div>
