    <div class="row header-info">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h1 class="wow fadeIn">SmashStats</h1>
        <br />
        <p class="lead wow fadeIn" data-wow-delay="0.5s">A place to get worse at smash!!!!!</p>
        <br />

        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="row">
              <div class="col-xs-6 text-right wow fadeInUp" data-wow-delay="1s">
                <a href="#be-the-first" class="btn btn-secondary btn-lg scroll" ui-sref="train"
                ng-class="{'active': activePage == 'train'}">Practice</a>
              </div>
              <div class="col-xs-6 text-left wow fadeInUp" data-wow-delay="1.4s">
                <a href="#invite" class="btn btn-primary btn-lg scroll">Add Friendlies</a>
              </div>
            </div><!--End Button Row-->
          </div>
        </div>

      </div>
    </div>
    <script type="text/javascript" src="controllers/train.js"></script>

