
<div class="row header-info">
  <div class="headerBlock">
  <h1 class="wow fadeIn">Learn more</h1>
  <p class="lead wow fadeIn" data-wow-delay="0.5s">Learn to play the game even better!</p>
  </div>
    <div class="col-sm-10 col-sm-offset-1 text-center">
        <div class="row" style="padding-top: 30px;">
            <p> Video series: explainations of techs </p>
            <iframe width="280" height="152" src="https://www.youtube.com/embed/videoseries?list=PLoU3TQBakHOrE9yYdNlsmG74LEB0Mf3h8" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row" style="padding-top: 30px;">
            <a class="btn btn-primary btn-lg scroll" href="https://docs.google.com/document/d/1_6o5NHvI9P8-qHp2M8w1gDzL_-JNonEE81Mh4ulY1PY/edit?usp=sharing" target="_blank"><p>Competitive Guide to SSBM</p></a>

        </div>
    </div>
</div>
