<div class="row header-info">
    <div class="headerBlock">
    		<h1 class="techHeader">Select Tech</h1>
    </div>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="tech in techs">
                <div class="container-fluid">
                    <h4 class="techListText col-xs-6" ng-click="openTech(tech)">{{tech.tech}}</h4>
                    <span><button  class="btn btn-primary pull-right techListButton"> Add </button></span>
                </div>
            </li>
        </ul>
</div>
