.headerBlock {
    text-align: center;
    display:block;
    background-color: #191970;
    color: white;
    padding: 20px;
    padding-top: 4%;
}

.techHeader {
    padding-top:10%;
}

.techListButton {
    margin-top: .5%;
}

.techListText {
    padding-left:1%;
    width:50%;
}

.progressCircle {
    padding-top:10%;
    text-align:center;
    width:100%;
    border-bottom:2px;
    display:block;
}
